body{
    margin: 0;
    box-sizing: border-box;
    font-family: digimon !important;
}

@font-face{
    font-family: "digimon";
    src: url("/fonts/digimon-text/PixelDigivolveItalic-dV8R.ttf");
}

:root{
    --white-color:#ffffff;
    --baby-yellow:#FFF141;
    --training-blue:#19E0FA;
    --rookie-gold:#AD9B11;
    --champion-pink:#FA198C;
    --ultimate-violet:#AD095D;
}

.container-fluid{
    --bs-gutter-x: 0em !important;
}

.hero-image img{
    width: 100vw;
    height: 15vh;
    object-fit: cover;
}

#choice{
    position: absolute;
    font-size: 1em;
    color:var(--white-color);
    margin: 0.2em 2.58em;
}

.egg-choice{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.egg-choice img{
    max-width: 48%;
    margin: -3em 1em;
}

#yellow-background{
    background-color: var(--baby-yellow);
    height:50vw;
}

#yellow-background h1{
    font-size: 15px;
    text-align: center;
    padding: 0.3em;
}