body{
    margin: 0;
    box-sizing: border-box;
    font-family: digimon !important;
}

@font-face{
    font-family: "digimon";
    src: url("/fonts/digimon-text/PixelDigivolveItalic-dV8R.ttf");
}

:root{
    --white-color:#ffffff;
    --green-color:#00ff00;
}

.container-fluid{
    --bs-gutter-x: 0em !important;
}

.hero-image img{
    width: 100vw;
    height: 15vh;
    object-fit: cover;
}

#choice{
    position: absolute;
    font-size: 1em;
    color:var(--white-color);
    margin: 0.2em 2.58em;
}

.egg-choice{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.egg-choice img{
    max-width: 48%;
    margin: -3em 1em;
}

.digital{
    max-width: 69.2%;
    -webkit-transform:rotate(90deg);
    position: absolute;
    z-index: -1;
    margin: -6em 0em;
    opacity: 0.5;
    
}

.heading{
    display: flex;
}

.heading h1{
    color: var(--green-color);
    font-size: 15px;
    margin: 0.5em 3em;
}

.close{
    margin-top: 0.3em;
    font-size: 10px;
}

.punimon-image{
    margin: 1.5em 1em;
}

.punimon-image img{
    max-width: 25%;
}