body{
    margin: 0;
    box-sizing: border-box;
    font-family: digimon !important;
}

@font-face{
    font-family: "digimon";
    src: url("/fonts/digimon-text/PixelDigivolveItalic-dV8R.ttf");
}

:root{
    --white-color:#ffffff;
}

.container-fluid{
    --bs-gutter-x: 0em !important;
}

.hero-image img{
    width: 100vw;
    height: 15vh;
    object-fit: cover;
}

#choice{
    position: absolute;
    font-size: 1em;
    color:var(--white-color);
    margin: 0.2em 2.58em;
}

.egg-choice{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}


.egg-choice img{
    max-width: 60%;
    margin: -4em 1em;
}



